body{
    background: url("img/bg.png");
    background-size: cover;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding-left: 960px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;   
    /* Для выравнивания меню по центру
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    */
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;   
    color: #000;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 15px;
    text-decoration: none;   
}
.main-menu > li > a:hover {
    text-decoration: none;   
    color: #f4f2ec;
}
.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background-color: #f4f2ec;
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}

.main-menu li {
    margin: 0;
    white-space: nowrap;
}

.main-menu ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: #337AB7;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}
.main-menu ul li {
    display: block;
    padding: 0 10px;
    line-height: 1.1;
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    transition: all .3s;
    text-decoration: none;   
}
.main-menu ul li a:hover {
    color: #337AB7;
    background: #FFF;
    text-decoration: none;   
}
.main-menu ul ul {
    top: 0;
    left: 100%;
}

.find p{
    margin: 0px;
    padding-bottom: 10px;
}

.find{
    display: block;
    margin-top: 40px;
    gap: 100px;
}

.btn{
    height: 20px;
}

.data{
    margin-top: 29px;
}

table{
    font-family: sans-serif;
    border-collapse: separate;
    border-spacing: 5px;
    background: #8fb9d3;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}
td{
    border-radius: 10px;
    background: #ece9e0;;
    padding: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}
